<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>control</title>
    <link type="text/css" href="../static/layui-v2.9.7/layui/css/layui.css" rel="stylesheet">
</head>

<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <script type="text/html" id="barDemo">
        <div class="layui-clear-space">
            <a class="layui-btn layui-btn-xs" lay-event="control">编辑布控</a>
            <a class="layui-btn layui-btn-xs" lay-event="cancel">
                取消布控
            </a>
        </div>
    </script>
    <div id="customLayer" style="display: none;">
        <h1>这是一个自定义层</h1>
        <p>你可以在这里放置任何 HTML 内容。</p>
    </div>

    <script src="../static/layui-v2.9.7/layui/layui.js"></script>
    <script>
        var temp = null;
        layui.use('table', function () {
            var table = layui.table;
            //向preview接口请求摄像头数据
            fetch("http://127.0.0.1:5001/preview")
                .then(response => {
                    //检查状态码
                    if (response.ok) {
                        //解析相应内容为json
                        return response.json();
                    }
                    else {
                        //异常
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    //处理获取的数据--渲染表格数据
                    var inst = table.render({
                        elem: '#test',
                        cols: [[ //标题栏
                            { field: 'id', title: '排序', width: 80, sort: true },
                            { field: 'username', title: '用户名', width: 120 },
                            { field: 'password', title: '密码', width: 120 },
                            { field: 'rtspurl', title: '流地址', minWidth: 320 },
                            { fixed: 'right', title: '操作', width: 320, minWidth: 125, toolbar: '#barDemo' }
                        ]],
                        data: data,
                        skin: 'line', // 表格风格
                        //even: true,
                        page: true, // 是否显示分页
                        limits: [5, 10, 15],
                        limit: 5 // 每页默认显示的数量
                    });
                    temp = data;
                });

            //表单工具栏的点击事件--lay-event
            table.on('tool(test)', function (obj) {

                var data = obj.data;
                if (obj.event === 'control') {
                    layer.open({
                        title: '布控摄像头 - id:' + data.id,
                        type: 1,
                        content: 'sfdef',
                        area: ['80%', '80%']
                    })
                }
                else if (obj.event === 'cancel') {

                    layer.confirm('真的删除行 [id: ' + data.id + '] 布控?', function (index) {

                        //向服务端发送删除指令post
                        fetch("http://127.0.0.1:5001/preview/deleteURL", {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ "rtspurl": temp[data.id - 1]['rtspurl'] })
                        })
                            .then(response => response.json())
                            .then(ret => {
                                if (ret.success) {
                                    layer.alert(ret.msg);
                                } else {
                                    layer.alert(ret.msg);
                                }
                            })
                            .catch(error => {
                                layer.alert(error, { title: '意外错误' });
                            });
                    });

                }



            })
        });
    </script>

</body>

</html>